@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.flex-column, body .nos, .main-principal, .main-principal .principal, main .trabajos, .contacto, .main-galeria {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* font-family: "Bacasime Antique", serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Oxygen", sans-serif; */
/* Barra de Navegacion */
.navegacion {
  background-color: #ffffff;
  padding: 10px; }
  .navegacion div a img {
    width: 100px;
    border-radius: 255px; }
  .navegacion div ul {
    display: flex;
    background-color: #f2971f;
    list-style-type: none;
    justify-content: center;
    border-radius: 30px; }
    .navegacion div ul li {
      padding: 10px;
      margin: 10px; }
      .navegacion div ul li a {
        color: black;
        font-size: 15px;
        text-align: center;
        box-shadow: 2px 2px 2px 2px;
        border-radius: 5px; }
      .navegacion div ul li a:hover {
        color: aliceblue; }

body {
  background: linear-gradient(144deg, #2e5dd4 0%, #a8b6b8 100%);
  display: flex;
  flex-direction: column; }
  body .nos h3 {
    color: aliceblue;
    font-size: 50px; }
  body .nos .iframe iframe {
    display: inline-flex;
    border-radius: 30px;
    justify-content: center; }
  body .nos p {
    color: black;
    font-size: 30px;
    width: 600px; }

.main-principal .principal {
  width: 600px;
  padding: 15px; }
  .main-principal .principal h1 {
    font-size: 100px;
    color: black; }
  .main-principal .principal p {
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    font-size: 30px;
    padding: 10px;
    border: 10px; }

main h2 {
  color: black;
  text-align: center;
  font-size: 55px;
  padding: 20px; }

main .trabajos div {
  margin: 10px; }
  main .trabajos div img {
    width: 600px;
    padding: 20px; }
  main .trabajos div h3 {
    color: black;
    text-align: center; }
  main .trabajos div p {
    color: black;
    width: 500px;
    text-align: left; }

/* Formulario */
.contacto .text-cont {
  color: black;
  padding: 20px; }
  .contacto .text-cont h2 {
    font-size: 40px; }
  .contacto .text-cont h3 {
    font-size: 30px; }
  .contacto .text-cont p {
    font-size: 30px; }

.contacto .grid-contacto .contacto-1 {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .contacto .grid-contacto .contacto-1 .c1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    flex: 1; }
  .contacto .grid-contacto .contacto-1 .c2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 1; }
  .contacto .grid-contacto .contacto-1 .c3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 1; }

.contacto .grid-contacto .contacto-2 {
  display: flex;
  flex-direction: center;
  align-items: center; }
  .contacto .grid-contacto .contacto-2 .c4 iframe {
    height: 700px;
    width: auto;
    border-radius: 15px; }
  .contacto .grid-contacto .contacto-2 .c5 {
    background-color: #c5ee3d; }
    .contacto .grid-contacto .contacto-2 .c5 .form {
      display: flex;
      flex-direction: column;
      color: black;
      font-size: 30px; }
      .contacto .grid-contacto .contacto-2 .c5 .form label {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .contacto .grid-contacto .contacto-2 .c5 .form label input {
          padding: 10px;
          margin: 10px;
          border-radius: 10px; }
        .contacto .grid-contacto .contacto-2 .c5 .form label textarea {
          border-radius: 10px; }
      .contacto .grid-contacto .contacto-2 .c5 .form .boton {
        background-color: #f8f8f8;
        border-radius: 10px;
        margin: 15px;
        align-items: end; }

.contacto .grid-contacto .caja {
  display: flex;
  align-items: center;
  border: black solid 3px;
  margin: 15px;
  text-align: center;
  border-radius: 10px;
  background-color: #de9800; }

.main-galeria .grid-galeria {
  display: grid;
  grid-template-areas: "img1 img1 img1 img3 img3 img3" "img1 img1 img1 img3 img3 img3" "img4 img4 img4 img6 img6 img6" "img4 img4 img4 img6 img6 img6" "img2 img2 img2 img5 img5 img5" "img2 img2 img2 img5 img5 img5";
  grid-template-rows: repeat(6, 200px);
  grid-template-columns: repeat(6, 150px);
  gap: 15px;
  padding: 15px; }
  .main-galeria .grid-galeria div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    padding: 0px; }
    .main-galeria .grid-galeria div img {
      border-radius: 35px; }
  .main-galeria .grid-galeria .img-1 {
    grid-area: img1;
    background-color: #f9f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main-galeria .grid-galeria .img-1 img {
    width: 95%; }
  .main-galeria .grid-galeria .img-2 {
    grid-area: img2;
    background-color: #f9f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main-galeria .grid-galeria .img-2 img {
    width: 95%; }
  .main-galeria .grid-galeria .img-3 {
    grid-area: img3;
    background-color: #f9f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main-galeria .grid-galeria .img-3 img {
    width: 95%; }
  .main-galeria .grid-galeria .img-4 {
    grid-area: img4;
    background-color: #f9f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main-galeria .grid-galeria .img-4 img {
    width: 95%; }
  .main-galeria .grid-galeria .img-5 {
    grid-area: img5;
    background-color: #f9f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main-galeria .grid-galeria .img-5 img {
    width: 95%; }
  .main-galeria .grid-galeria .img-6 {
    grid-area: img6;
    background-color: #f9f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main-galeria .grid-galeria .img-6 img {
    width: 95%; }

.main-novedades .trabajos {
  margin: auto; }
  .main-novedades .trabajos .puente {
    border: black solid 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: center; }
    .main-novedades .trabajos .puente img {
      width: 250px; }
  .main-novedades .trabajos .edificio {
    border: black solid 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: center; }
    .main-novedades .trabajos .edificio img {
      width: 250px; }
  .main-novedades .trabajos .escuela {
    border: black solid 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: center; }
    .main-novedades .trabajos .escuela img {
      width: 250px; }

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-start;
  background-color: #ffbb3e;
  color: black; }
  .footer .sec1 {
    display: flex;
    align-items: center; }
    .footer .sec1 ul li {
      list-style: none; }
      .footer .sec1 ul li a {
        text-decoration: none;
        color: black; }
  .footer .sec2 {
    display: flex;
    align-items: center; }
    .footer .sec2 ul li {
      list-style: none; }
      .footer .sec2 ul li a {
        text-decoration: none;
        color: black; }

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    flex-direction: row-reverse; } }

@media (max-width: 965px) {
  .main-galeria .grid-galeria {
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 300px); }
    .main-galeria .grid-galeria img {
      height: 80%; } }

@media (max-width: 600px) {
  main .trabajos div img {
    width: 400px;
    padding: 10px; }
  main .trabajos div p {
    width: 300px; } }

@media (max-width: 823px) {
  .main-principal .principal h1 {
    font-size: 75px; }
  .main-principal .principal p {
    font-size: 28px; } }

@media (max-width: 600px) {
  .main-principal .principal {
    width: 400px; }
    .main-principal .principal h1 {
      font-size: 60px; }
    .main-principal .principal p {
      font-size: 25px; } }

@media (max-width: 600px) {
  .nos h3 {
    padding: 10px; }
  .nos .iframe iframe {
    width: 400px; }
  .nos .texto {
    width: 300px;
    font-size: 20px; } }

@media (max-width: 751px) {
  .contacto .grid-contacto .contacto-1 {
    flex-direction: column; }
    .contacto .grid-contacto .contacto-1 .c1 {
      flex-direction: row; }
      .contacto .grid-contacto .contacto-1 .c1 h4 {
        padding: 10px; }
    .contacto .grid-contacto .contacto-1 .c2 {
      flex-direction: row; }
      .contacto .grid-contacto .contacto-1 .c2 h4 {
        padding: 10px; }
    .contacto .grid-contacto .contacto-1 .c3 {
      flex-direction: row; }
      .contacto .grid-contacto .contacto-1 .c3 h4 {
        padding: 10px; }
  .contacto .grid-contacto .contacto-2 {
    flex-direction: column; }
    .contacto .grid-contacto .contacto-2 .c4 iframe {
      height: 200px; } }

@media (max-width: 782px) {
  .main-novedades .trabajos .puente {
    flex-direction: column;
    align-items: center; }
    .main-novedades .trabajos .puente img {
      width: 350px; }
  .main-novedades .trabajos .edificio {
    flex-direction: column;
    align-items: center; }
    .main-novedades .trabajos .edificio img {
      width: 350px; }
  .main-novedades .trabajos .escuela {
    flex-direction: column;
    align-items: center; }
    .main-novedades .trabajos .escuela img {
      width: 350px; } }

@media (max-width: 615px) {
  .footer {
    flex-direction: center;
    justify-content: normal;
    align-content: normal;
    align-items: center;
    border: black solid 2px; }
    .footer .sec1 {
      flex-direction: column; }
    .footer .sec2 {
      flex-direction: column; } }
