body {
    background: linear-gradient(144deg, rgba(194,194,201,1) 0%, rgba(168,182,184,1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;    
    color: $blanco;
    .nos{
        @extend .flex-column;


        h3{
            color: $blanco-1;
            font-size: 50px;

        }
        .iframe{
            iframe{
                display: inline-flex;
                border-radius: 30px;
                justify-content: center
                
            }
            ;
        }
        p{
            color: $negro;
            font-size: 30px;
            width: 600px; 
        }
    }
    
}
