body {
    background: linear-gradient(144deg, rgb(46, 93, 212) 0%, rgba(168,182,184,1) 100%);
    display: flex;
    flex-direction: column;
    
    .nos{
        @extend .flex-column;


        h3{
            color: $blanco-1;
            font-size: 50px;

        }
        .iframe{
            iframe{
                display: inline-flex;
                border-radius: 30px;
                justify-content: center
                
            }
            ;
        }
        p{
            color: $negro;
            font-size: 30px;
            width: 600px; 
        }
    }
    
}
