body {
    background-image: url('https://img.freepik.com/foto-gratis/superficie-metal-rayado-estilo-grunge-oscuro_1048-12951.jpg?w=826&t=st=1711403665~exp=1711404265~hmac=4462bda3f25d2f004400f46422eb3c07fe3cc0578b66b63c1cad97542178b056');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;    
    color: white;
    
}
