@media (max-width: 615px){

    .footer{
        flex-direction: column;
        justify-content: normal;
        align-content: normal;
        align-items: center;
        border: black solid 2px;
        
    }
    
}