/* Footer */
footer{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    background-color: $celeste-2;
    color: black;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    div{
        ul{
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    
}