/* Formulario */
.contacto{
    @extend .flex-column;
    .text-cont{
        color: $negro;
        padding: 20px;
        h2{
            font-size: 40px;
        }
        h3{

            font-size: 30px;

        }
       p{
        font-size: 30px;
       }
       
    }
}
.form {
    @extend .flex-column;
    color: $negro;
    font-size: 30px;
    label{
        input{
        display: block;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        }
        textarea{
            border-radius: 10px;
        }
    }
    .boton{
        background-color: $btn;
        border-radius: 10px;
        
    }
    

}