@media (max-width: 965px) {
    
    .main-galeria{

        .grid-galeria{
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        ; 
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 300px); 
        
        img{
            height: 80%;
        }
    }
    }
    

   

}