.main-galeria{
    @extend .flex-column;
    
    .grid-galeria {
    
        display: grid;     
        grid-template-areas: 
        "img1 img1 img1 img3 img3 img3"
        "img1 img1 img1 img3 img3 img3"
        "img4 img4 img4 img6 img6 img6"
        "img4 img4 img4 img6 img6 img6"
        "img2 img2 img2 img5 img5 img5"
        "img2 img2 img2 img5 img5 img5"    
        ;
        grid-template-rows: repeat(6, 200px);
        grid-template-columns: repeat(6, 200px);
        
        div{
            overflow: hidden;
            border-radius: 5px;
            padding: 0px;
            img{
                border-radius: 35px;
            }

        }

        .img-1{
    grid-area: img1;
    background-color: #be7413;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-1 img{
    width: 100%;
}

.img-2{
    grid-area: img2;
    background-color: #1343be;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-2 img{
    width: 100%;
}

.img-3{
    grid-area: img3;
    background-color: #13a4be;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-3 img{
    width: 100%;
}

.img-4{
    grid-area: img4;
    background-color: #6b13be;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-4 img{
    width: 100%;
}

.img-5{
    grid-area: img5;
    background-color: #be1371;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-5 img{
    width: 100%;
}

.img-6{
    grid-area: img6;
    background-color: #be6b13;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-6 img{
    width: 100%;
}

            
       
    
    }
}

