.main-principal{
    @extend .flex-column;
    .principal{
        width: 600px;
        @extend .flex-column;
        padding: 15px;


        h1{
        font-size: 100px;
        color: $negro;
    }
    p{
        font-family: "Roboto", sans-serif;
        color: $blanco-1;
        
        font-size: 30px;
        padding: 10px;
        border: 10px;
    }
    }

    
    

}