main{
    
    h2{
        color: $negro;
        text-align: center;
        font-size: 55px;
        padding: 20px


        

    }
    .trabajos{
        @extend .flex-column;
        
        div{

            margin: 10px;
            
            img{
                width: 600px;
                padding: 20px;
                

            }
            h3{
                color: $negro;
                text-align: center;

            }
            p{
                color: $negro;
                width: 500px;
                text-align: left;

            }
        }

    }
}