.main-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        border-radius: 255px;
    }
    p{
        font-family: "Roboto", sans-serif;
        color: $blanco-1;
        width: 600px;
        font-size: 30px;
        padding: 10px;
        border: 10px;
    }

}