@media (max-width: 600px) {
    .main-principal{
       
        img{
            border-radius: 255px;
            width: 400px;
        }
        p{
            font-family: "Roboto", sans-serif;
            color: $blanco-1;
            width: 300px;
            font-size: 20px;
            padding: 10px;
            
        }
    
    }
    
}