@media (max-width: 823px) {
    .main-principal{
       .principal{

        h1{
            font-size: 75px;
        }
        p{           
            
            font-size: 28px;
            
            
        }
       }
       
        
    
    }
    
}

@media (max-width:600px) {
    .main-principal{
       .principal{

        width: 400px;

        h1{
            font-size: 60px;
        }
        p{           
            
            font-size: 25px;
            
            
        }
       }
       
        
    
    }
    
}