main{
    h2{
        color: $blanco;

    }
    .trabajos{
        display: block;
        div{
            img{
                height: 500px;
                padding: 10px;

            }
            h3{
                color: $blanco;

            }
            p{
                color: $blanco;

            }
        }

    }
}