/* Barra de Navegacion */

.navegacion{
    background-color: $nav-fondo;
    padding: 10px;
    div{
        a{
            img{
                width: 100px;                
                border-radius: 255px;
            }
        }
        ul{
        display: flex;
        background-color: $nav-1;
        list-style-type: none;
        justify-content: center;
        border-radius: 30px;
        li{
            padding: 10px;
            margin: 10px;
            a{
                color: $blanco;
                text-align: center;
                box-shadow: 2px 2px 2px 2px;
                border-radius: 5px;
            }
            a:hover{
                color: $blanco-1;
            }
        } 
    }
    }
    
}