.main-novedades{
    
    .trabajos{
        
        margin: auto;
        .puente{
            border: black solid 3px;
            border-radius: 10px;
            display: flex;
            flex-direction: center;
            img{
                width: 250px;
            }

        }
        .edificio{
            border: black solid 3px;
            border-radius: 10px;
            display: flex;
            flex-direction: center;
            img{
                width: 250px;
            }
        }
        .escuela{
            border: black solid 3px;
            border-radius: 10px;
            display: flex;
            flex-direction: center;
            img{
                width: 250px;
            }
        }
    }




    

}