$blanco: #F7FFF7;
$blanco-1: aliceblue;
$nav-fondo:  #ffffff;
$btn: #f8f8f8;
$azul-1:  #1343be;
$celeste-1: #13a4be;
$celeste-2: #4ECDC4;
$nav-1: #184296;
$violesta-1: #6b13be;
$rosita-flu: #be1371;
$naranja-1:  #be6b13;
$negro: black;

