$blanco: white;
$blanco-1: aliceblue;
$mostaza:  rgb(230, 233, 42);
$btn: #db8bb7;
$azul-1:  #1343be;
$celeste-1: #13a4be;
$celeste-2: rgb(161, 184, 226);
$rosita: rgb(201, 88, 88);
$violesta-1: #6b13be;
$rosita-flu: #be1371;
$naranja-1:  #be6b13;
$negro: black;

